body {
    width: 900px;
    height: 700px;
    margin: auto;
}

.galven {
    width: 900px;
    height: 700px;
    margin-top: 10px;
}

.gore-levo {
    width: 240px;
    height: 97px;
    background-color: rgb(228, 227, 227);
    float: left;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    position: relative;
}

.gore-srede {
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-left: 5px solid black;
    width: 285px;
    height: 97px;
    background-color: rgb(240, 215, 183);
    float: left;
    position: relative;
}

.gore-desno {
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-left: 5px solid black;
    width: 301px;
    height: 97px;
    background-color: burlywood;
    float: left;
    position: relative;
}

.gore-posledno {
    float: left;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    width: 44px;
    height: 555px;
    background-color: rgb(240, 215, 183);
}

.levo-prvo {
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-top: 5px solid black;
    width: 160px;
    height: 180px;
    margin-top: 102px;
    position: absolute;
    background-color: rgb(228, 216, 200);
}

.sredina-golemo {
    border: 5px solid black;
    width: 365px;
    height: 355px;
    margin-top: 102px;
    margin-left: 165px;
    position: absolute;
    background-color: red;
}

.sredina-desno {
    border: 5px solid black;
    width: 301px;
    height: 180px;
    margin-top: 102px;
    margin-left: 540px;
    position: absolute;
    background-color: rgb(243, 184, 33);
}

.levo-srede {
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    border-top: 5px solid black;
    width: 160px;
    height: 240px;
    margin-top: 292px;
    position: absolute;
    background-color: rgb(240, 215, 183);
}

.levo-dolu {
    border-right: 5px solid black;
    border-top: 5px solid black;
    width: 160px;
    height: 153px;
    margin-top: 542px;
    position: absolute;
    background-color: rgb(243, 184, 33);
}

.desno-prvo {
    border: 5px solid black;
    width: 146px;
    height: 165px;
    margin-top: 292px;
    margin-left: 540px;
    position: absolute;
    background-color: rgb(235, 228, 211);
}

.desno-vtoro {
    border: 5px solid black;
    width: 145px;
    height: 165px;
    margin-top: 292px;
    margin-left: 696px;
    position: absolute;
    background-color: rgb(204, 196, 174);
}

.desno-treto {
    border: 5px solid black;
    width: 301px;
    height: 66px;
    margin-top: 467px;
    margin-left: 540px;
    position: absolute;
    background-color: rgb(226, 216, 186);
}

.desno-blue {
    border: 5px solid black;
    width: 301px;
    height: 100px;
    margin-top: 543px;
    margin-left: 540px;
    position: absolute;
    background-color: rgb(7, 7, 138);
}

.desno-red {
    border-left: 5px solid black;
    border-top: 5px solid black;
    width: 44px;
    height: 135px;
    margin-top: 560px;
    margin-left: 851px;
    position: absolute;
    background-color: red;
}

.sredina-crno {
    border: 5px solid black;
    width: 190px;
    height: 130px;
    margin-top: 467px;
    margin-left: 165px;
    position: absolute;
    background-color: black;
}

.sredina-sivo1 {
    border: 5px solid black;
    width: 166px;
    height: 66px;
    margin-top: 467px;
    margin-left: 365px;
    position: absolute;
    background-color: gray;
}

.sredina-sivo2 {
    border: 5px solid black;
    width: 166px;
    height: 54px;
    margin-top: 543px;
    margin-left: 365px;
    position: absolute;
    background-color: rgb(185, 181, 181);
}

.sredina-dolu {
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    width: 190px;
    height: 88px;
    margin-top: 607px;
    margin-left: 165px;
    position: absolute;
    background-color: rgb(185, 181, 181);
}

.sredina-crno2 {
    border: 5px solid black;
    width: 166px;
    height: 36px;
    margin-top: 607px;
    margin-left: 365px;
    position: absolute;
    background-color: black;
}

.najdolu-dolga {
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    width: 476px;
    height: 42px;
    margin-top: 653px;
    margin-left: 365px;
    position: absolute;
    background-color: rgb(185, 181, 181);
}